nav .link {
  position: relative;
  text-decoration: none;
}

nav .link::before,
nav .link::after {
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

nav .link::before {
  content: '';
  right: -7px;
  top: -3px;
  border-top: 2px solid rgb(96, 165, 250);
  border-right: 2px solid rgb(96, 165, 250);
  border-radius: 4px;
  transform: translate(-100%, 50%);
}

nav .link:after {
  content: '';
  left: -7px;
  bottom: -3px;
  border-bottom: 2px solid rgb(96, 165, 250);
  border-left: 2px solid rgb(96, 165, 250);
  border-radius: 4px;
  transform: translate(100%, -50%);
}

nav .link:hover:before,
nav .link:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

nav .link:hover {
  color: rgb(96, 165, 250);
}
